.protyle-wysiwyg [data-node-id][fold="1"]/* :not(.li):not([data-type="NodeHeading"]) */ {
    background-color: var(--lite-block-fold-background);
    box-shadow: 0 0 4px 0 var(--lite-block-fold-shadow-background) inset;

    &:not(.li, [data-type="NodeHeading"]).table {
        opacity: 0.5;
    }
}
