/* 表格表头单元格样式 */
div.table {
    &:not([custom-vsce~="no-thead"]) {
        table {
            thead {
                tr {
                    th {
                        color: var(--mk-block-header-h6);
                        text-align: center;
                    }
                }
            }
        }
    }

    &[custom-vsce~="table-min"] {
        table {
            colgroup {
                col {
                    /* 最小化单元格宽度 */
                    min-width: unset !important;
                }
            }
        }
    }

    &[custom-vsce~="hide-thead"] {
        table {
            thead {
                /* 隐藏表头 */
                display: none;
            }
        }
    }

    caption {
        // display: flex;
        font-size: 85%;
        color: var(--b3-theme-on-surface);
        // word-break: break-word;
        // white-space: break-spaces;
        line-height: normal;
        padding: 4px 0;
    }
}

// 为集市的说明文档启用表格样式
#configBazaarReadme {
    table {
        thead {
            tr {
                th {
                    color: var(--mk-block-header-h6);
                    text-align: center;
                }
            }
        }
    }
}
