/* 代码块的语言显示 */
.protyle-action .protyle-action--first.protyle-action__language {
    .code-block:has(.protyle-linenumber__rows) & {
        /* 有行号 */
        margin-left: 4em !important;
    }

    .code-block:not(:has(.protyle-linenumber__rows)) & {
        /* 没有行号 */
        margin-left: 1em !important;
    }
}

/* 代码块左边的行号显示 */
.code-block .protyle-linenumber__rows {
    width: fit-content;
    min-width: 2em;
}

/*
 * 代码块滚动时语言和按钮固定在编辑器顶部 CSS片段
 * author by JeffreyChen https://ld246.com/article/1728146248791
 ^ 用:not(#preview)排除导出PDF，用.protyle-wysiwyg排除导出预览，.protyle-wysiwyg[data-readonly="true"]是只读模式
 ^ 导出预览的代码块没有 .protyle-action
 */
div:not(#preview) > .protyle-wysiwyg .code-block:not(pre) {
    .protyle-action {
        position: sticky;
        top: 0;

        &::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            pointer-events: none;
        }
    }

    &:hover .protyle-action {
        background-color: inherit;
    }

    .hljs {
        padding-top: 0;
    }
}

/*
 * 代码块语言选择器
 * https://github.com/siyuan-note/siyuan/pull/15966
 */
$codeLang-item-shadow: inset 0 0 3px var(--b3-border-color);

.protyle-util > [data-id="codeLanguage"] {
    .b3-list-item {
        // 清空
        &[data-id="clearLanguage"]:not(.b3-list-item--focus) {
            box-shadow: $codeLang-item-shadow;
        }

        // 自定义语言
        &[data-id="customLanguage"] {
            &:not(.b3-list-item--focus) {
                box-shadow: $codeLang-item-shadow;
            }

            &::after {
                content: "custom";
                font-size: 80%;
                position: absolute;
                right: 0;
                top: -1em;
            }
        }
    }
}
