%database-basic {
    /* 添加数据库边框 */
    border: var(--mk-toolbar-item) dashed 1px;
    border-radius: var(--b3-border-radius);

    .av__header {
        .item--focus {
            /* 数据库选中视图添加高亮 */
            background-color: var(--lite-database-header-background);
        }

        .av__title:not(.fn__none) {
            /* 数据库标题添加分割线 */
            border-bottom: gray dashed 1px;
        }
    }
}

.av__container {
    .av[data-av-type="table"] & {
        @extend %database-basic;
    }

    .av[data-av-type="gallery"] &,
    .av[data-av-type="kanban"] & {
        @extend %database-basic;

        .av__header {
            /* 角落背景修复 */
            border-top-left-radius: var(--b3-border-radius);

            .av__views .layout-tab-bar {
                /* 角落背景修复 */
                border-top-left-radius: var(--b3-border-radius);
            }
        }
    }
}
