.protyle-wysiwyg:not([custom-vsce~="no-tag"]) [data-node-id]:not([custom-vsce~="no-tag"]) span[data-type~="tag"] {
    border-radius: var(--b3-border-radius);
    border-bottom: unset;
    background-color: var(--b3-list-hover);
    padding: 1px 3px;
    font-size: 90%;

    &::before {
        content: "#";
    }

    &:hover {
        opacity: 0.8;
        color: var(--b3-theme-on-background);
    }
}
