%common {
    content: "";
    display: inline-flex;
    position: relative;
    width: 1em;
    height: 1em;
    margin-right: 0.2rem;
}

%fold {
    height: 1em !important;
    border-radius: unset;
    margin-top: unset;
    left: unset !important;
}

$h1top: 0.36em;
$h2top: 0.38em;
$h3top: 0.36em;
$h4top: 0.34em;
$h5top: 0.33em;
$h6top: 0.32em;

/* h1标签基本样式 */
%h1 {
    @extend %common;
    mask: url(../../resources/h1.svg) center center / contain no-repeat;
    background-color: var(--mk-block-header-h1);
    top: $h1top;
}

/* h1标签 */
[data-node-id].h1,
.protyle-preview h1 {
    display: flex;

    > span {
        display: inline;
        max-width: fit-content;
    }
}

/* h1标签 */
[data-node-id].h1::before,
.protyle-preview h1::before {
    @extend %h1;

    .li > & {
        /* 列表中适配 */
        top: 0.02em;
    }
}

/* h1标签 */
[data-node-id].h1[fold][data-type="NodeHeading"]::before,
.protyle-preview h1[fold]::before {
    @extend %h1;
    @extend %fold;
    top: $h1top !important;

    .li > & {
        /* 列表中适配 */
        width: 1em !important;
        margin-top: -0.35em !important;
    }
}

/* h1标签文本 */
[data-node-id].h1 > div:nth-child(1),
.protyle-preview h1 > div:nth-child(1) {
    display: inline-flex contents;
    max-width: calc(100% - 1.95rem);
    min-width: 1px;
}

/* h2标签基本样式 */
%h2 {
    @extend %common;
    mask: url(../../resources/h2.svg) center center / contain no-repeat;
    background-color: var(--mk-block-header-h2);
    top: $h2top;
}

/* h2标签 */
[data-node-id].h2,
.protyle-preview h2 {
    display: flex;

    > span {
        display: inline;
        max-width: fit-content;
    }
}

/* h2标签 */
[data-node-id].h2::before,
.protyle-preview h2::before {
    @extend %h2;

    .li > & {
        /* 列表中适配 */
        top: 0.04em;
    }
}

/* h2标签 */
[data-node-id].h2[fold][data-type="NodeHeading"]::before,
.protyle-preview h2[fold]::before {
    @extend %h2;
    @extend %fold;
    top: $h2top !important;

    .li > & {
        /* 列表中适配 */
        width: 1em !important;
        margin-top: -0.4em !important;
    }
}

/* h2标签文本 */
[data-node-id].h2 > div:nth-child(1),
.protyle-preview h2 > div:nth-child(1) {
    display: inline-flex contents;
    max-width: calc(100% - 1.75rem);
    min-width: 1px;
}

/* h3标签基本样式 */
%h3 {
    @extend %common;
    mask: url(../../resources/h3.svg) center center / contain no-repeat;
    background-color: var(--mk-block-header-h3);
    top: $h3top;
}

/* h3标签 */
[data-node-id].h3,
.protyle-preview h3 {
    display: flex;

    > span {
        display: inline;
        max-width: fit-content;
    }
}

/* h3标签 */
[data-node-id].h3::before,
.protyle-preview h3::before {
    @extend %h3;

    .li > & {
        /* 列表中适配 */
        top: 0.1em;
    }
}

/* h3标签 */
[data-node-id].h3[fold][data-type="NodeHeading"]::before,
.protyle-preview h3[fold]::before {
    @extend %h3;
    @extend %fold;
    top: $h3top !important;

    .li > & {
        /* 列表中适配 */
        width: 1em !important;
        margin-top: -0.2em !important;
    }
}

/* h3标签文本 */
[data-node-id].h3 > div:nth-child(1),
.protyle-preview h3 > div:nth-child(1) {
    display: inline-flex contents;
    max-width: calc(100% - 1.58rem);
    min-width: 1px;
}

/* h4标签基本样式 */
%h4 {
    @extend %common;
    mask: url(../../resources/h4.svg) center center / contain no-repeat;
    background-color: var(--mk-block-header-h4);
    top: $h4top;
}

/* h4标签 */
[data-node-id].h4,
.protyle-preview h4 {
    display: flex;

    > span {
        display: inline;
        max-width: fit-content;
    }
}

/* h4标签 */
[data-node-id].h4::before,
.protyle-preview h4::before {
    @extend %h4;

    .li > & {
        /* 列表中适配 */
        top: 0.15em;
    }
}

/* h4标签 */
[data-node-id].h4[fold][data-type="NodeHeading"]::before,
.protyle-preview h4[fold]::before {
    @extend %h4;
    @extend %fold;
    top: $h4top !important;

    .li > & {
        /* 列表中适配 */
        width: 1em !important;
        margin-top: -0.2em !important;
    }
}

/* h4标签文本 */
[data-node-id].h4 > div:nth-child(1),
.protyle-preview h4 > div:nth-child(1) {
    display: inline-flex contents;
    max-width: calc(100% - 1.45rem);
    min-width: 1px;
}

/* h5标签基本样式 */
%h5 {
    @extend %common;
    mask: url(../../resources/h5.svg) center center / contain no-repeat;
    background-color: var(--mk-block-header-h5);
    top: $h5top;
}

/* h5标签 */
[data-node-id].h5,
.protyle-preview h5 {
    display: flex;

    > span {
        display: inline;
        max-width: fit-content;
    }
}

/* h5标签 */
[data-node-id].h5::before,
.protyle-preview h5::before {
    @extend %h5;

    .li > & {
        /* 列表中适配 */
        top: 0.2em;
    }
}

/* h5标签 */
[data-node-id].h5[fold][data-type="NodeHeading"]::before,
.protyle-preview h5[fold]::before {
    @extend %h5;
    @extend %fold;
    top: $h5top !important;

    .li > & {
        /* 列表中适配 */
        width: 1em !important;
        margin-top: -0.1em !important;
    }
}

/* h5标签文本 */
[data-node-id].h5 > div:nth-child(1),
.protyle-preview h5 > div:nth-child(1) {
    display: inline-flex contents;
    max-width: calc(100% - 1.33rem);
    min-width: 1px;
}

/* h6标签基本样式 */
%h6 {
    @extend %common;
    mask: url(../../resources/h6.svg) center center / contain no-repeat;
    background-color: var(--mk-block-header-h6);
    top: $h6top;
}

/* h6标签 */
[data-node-id].h6,
.protyle-preview h6 {
    display: flex;

    > span {
        display: inline;
        max-width: fit-content;
    }
}

/* h6标签 */
[data-node-id].h6::before,
.protyle-preview h6::before {
    @extend %h6;

    .li > & {
        /* 列表中适配 */
        top: 0.35em;
    }
}

/* h6标签 */
[data-node-id].h6[fold][data-type="NodeHeading"]::before,
.protyle-preview h6[fold]::before {
    @extend %h6;
    @extend %fold;
    top: $h6top !important;

    .li > & {
        /* 列表中适配 */
        width: 1em !important;
        margin-top: 0 !important;
    }
}

/* h6标签文本 */
[data-node-id].h6 > div:nth-child(1),
.protyle-preview h6 > div:nth-child(1) {
    display: inline-flex contents;
    max-width: calc(100% - 1.2rem);
    min-width: 1px;
}

/* 导出图片时暂不显示标题图标 */
.b3-dialog--open[data-key="dialog-exportimage"] {
    @for $i from 1 through 6 {
        h#{$i},
        .h#{$i} {
            &::before {
                content: unset;
            }
        }
    }
}
