/* 用于一次性适配多个级别的标题样式 */
@for $i from 1 through 6 {
    /* #{$i}级标题样式 */
    .b3-typography .h#{$i},
    .b3-typography h#{$i},
    [data-node-id].h#{$i},
    .protyle-preview h#{$i} {
        color: var(--mk-block-header-h#{$i});
    }

    // 标题前序号
    [data-node-id].h#{$i} > [contenteditable]:first-child::before {
        color: var(--mk-block-header-h#{$i}) !important;
    }

    /* #{$i}级大纲样式 */
    .sy__outline,
    body.vscmobile .side-panel {
        [data-subtype="h#{$i}"], // 标题前符号
        [data-subtype="h#{$i}"] .b3-list-item__number, // 标题前序号
        [data-subtype="h#{$i}"] .b3-list-item__text // 标题文本
        {
            color: var(--mk-block-header-h#{$i});
        }
    }
}

.protyle-title__input {
    font-size: 2.5em;
}
