/* 应用菜单 */
.b3-menu {
    &.b3-menu--list {
        .b3-menu__items {
            .b3-menu__item--current {
                svg:hover {
                    /* 下拉框的标签关闭按钮 */
                    color: var(--b3-theme-error);
                }
            }
        }
    }

    .b3-menu__items {
        .b3-menu__item.b3-menu__item--current {
            background-color: var(--b3-toolbar-hover);
        }
    }
}

/* 列表菜单 */
.b3-list--background {
    .b3-list-item:hover:not(.b3-list-item--focus),
    .b3-list-item--focus:not(.dragover, .dragover__top, .dragover__bottom) {
        background-color: var(--mk-filetree-list--hover);
    }
}

/* 样式修改面板背景透明 */
.protyle-util:has(.protyle-font) {
    background-color: var(--lite-text-style-menu-background);
}
