#action {
    #scale {
        /* 导出PDF */
        width: 180px !important;
    }
}

#preview {
    /* 导出PDF不允许划选文字 */
    user-select: none;

    /* 代码块菜单不显示 */
    .code-block:hover .protyle-action {
        display: none;
    }
}
