/* 整个设置面板 */
div[vslite="SettingPanel"] {
    user-select: none;

    h2.h2 {
        /* h2标签 */
        color: var(--mk-block-header-h2);
        display: flex;
        line-height: 2rem;

        &::before {
            /* h2标签 */
            content: "";
            display: inline-block;
            width: 1.55rem;
            height: 1.55rem;
            mask: url(resources/h2.svg) no-repeat center center;
            mask-size: contain;
            background-color: var(--mk-block-header-h2);
            padding-top: 7.44px;
            margin-right: 0.2em;
        }
    }

    div.fn__flex:last-of-type {
        border-top: 1px solid var(--b3-border-color);
    }

    .config-bazaar__panel.ThemeSettingPage {
        .fn__flex.b3-label .fn__flex-1:hover {
            font-weight: bold;
            font-size: calc(var(--b3-font-size) + 1px);
        }
    }
}
