/* 隐藏非必要元素 */

/* 隐藏右面板右侧线 */
/* .layout__resize--lr {
    visibility: hidden;
} */

/* 隐藏奇怪的线 */
/* #layouts > div:nth-child(1){
    visibility: hidden;
} */

/* 隐藏关闭按钮 */
.b3-dialog__close {
    display: none;
}

/* 隐藏关系图 */
/* .b3-tooltips__w[data-type="graph"] {
    display: none;
} */

/* 隐藏全局关系图 */
/* .b3-tooltips__w[data-type="globalGraph"] {
    display: none;
} */

/* dock垂直拖动条 */
/* 竖直调整宽度，模仿VSCode效果 */
.layout__resize--lr:hover::after {
    visibility: visible !important;
    // background-color: #007fd4;
    width: 2px;
    left: -1px;
}

/* 拖动条平时隐藏 */
#layouts > div:not(.layout__dockb) > .layout__resize--lr::after {
    visibility: hidden;
}

/* 普通拖动条 */
.layout__resize {
    &:hover::after {
        /* 指示线颜色 */
        background-color: #007fd4;
    }

    &:not(.layout__resize--lr):hover::after {
        /* 水平指示线单独设置高度 */
        height: 2px;
    }
}

/* 拖动调整dock大小指示线 */
.layout--float > .layout__dockresize:hover {
    border-right: 2px solid #007fd4;
    border-color: #007fd4;
}

/* 调整超级块宽度拖动条 */
.protyle-wysiwyg [data-node-id].sb[data-sb-layout="col"] > .sb__resize {
    background-color: #007fd4;

    &:hover {
        transition: opacity 400ms;
    }
}
