/* 页面标签 */
.layout-tab-bar {
    /* 标签栏 */
    background-color: var(--mk-tabbar-background-color);
    border-bottom: none;
    height: 36px;

    &.layout-tab-bar--readonly {
        /* 标签栏右侧的按钮 */
        border-bottom: none;
        height: 36px;
        min-width: 56px;

        span[data-type] {
            background-color: var(--mk-tabbar-background-color-item--readonly);
        }
    }

    .item {
        /* 标签栏中标题标签 */
        background-color: var(--mk-tabbar-background-color);
        height: 32px;
        margin: 2px 2px;

        &.item--focus {
            /* 标签聚焦 */
            background-color: var(--mk-tabbar-background-color-item--focus);

            &.item--full {
                font-size: 16px;
            }

            &:after {
                /* 标签聚焦 */
                display: none;
            }
        }

        &.item--pin {
            /* 钉住的标签 */
            border-top: 2px solid var(--b3-theme-success);
            border-bottom: 2px solid transparent;
            box-sizing: border-box;
        }
    }

    .item__close:hover {
        svg {
            /* 标签关闭按钮 */
            background-color: var(--b3-theme-error);
        }
    }
}

/* 窗口没有焦点时应用以下样式 */
body.body--blur .layout-tab-bar .item.item--focus {
    /* 标签栏聚焦 */
    box-shadow: none;
    height: 32px;

    &:after {
        /* 标签栏聚焦 */
        display: none;
        height: 32px;
    }
}

/* 显示钉住文档名 */
/* 因为不含钉子图标所以特别备注一下 */
/* author by JeffreyChen https://ld246.com/article/1728392178095 */
.layout-tab-bar {
    .item--pin {
        &.item .item__text {
            width: auto;
            display: flex !important;
        }

        .item__graphic,
        .item__icon {
            padding: 4px 0 4px 8px;
        }
    }
}

/* 适配新默认主题顶栏融合样式 */
.layout__wnd--center.layout__wnd--left.layout__wnd--right {
    .layout-tab-bar {
        &:not(.layout-tab-bar--readonly) {
            margin-top: 3px;

            .item {
                margin: 2px 2px;
            }
        }

        &.layout-tab-bar--readonly {
            margin-top: -1px;
        }
    }

    .layout-tab-container {
        margin-top: 3px;
    }
}
