/* 集市相关的主题 */
.config__tab-container {
    .config-bazaar__panel {
        .config-bazaar__title {
            /* 设置中集市的上方筛选栏 */
            padding: 8px 16px;

            // 思源3.7.4版本调整了这部分样式
            // .b3-button {
            //     /* 集市筛选栏的按钮 */
            //     /* 也就是上面那个分类按钮 */
            //     padding: 0 8px;
            // }
        }
    }

    .layout-tab-bar {
        .item.item--focus {
            /* 集市中选中的标签栏 */
            font-weight: 400;
            font-size: 16px;
            background-color: var(--lite-bazaar-focus-background);
            padding-top: 1px;
        }
    }
}
