{
  "tabWidth": 2,
  "printWidth": 120,
  "bracketSameLine": true,
  "plugins": ["prettier-plugin-toml"],
  "overrides": [
    {
      "files": ["*.scss", "*.css", "*.ts", "*.js", "*.cjs"],
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": ["theme.json"],
      "options": {
        "printWidth": 20
      }
    }
  ]
}
