@charset "UTF-8";
/* 导入定义的颜色 */
@import "src/color.css";

/* 动态引用内容 */

/* 插件适配，不用的就注释掉 */
/* 快捷键面板 */
/* @import "src/plugin/keymapPlugin.css"; */
/* 数学公式优化 */
/* @import "src/plugin/mathEnhance.css"; */
/* 背景插件适配 */
/* @import "src/plugin/backgroundPlugin.css"; */

/* 正式内容 */
/* 应用程序底部状态栏 */
@import "src/app/statusBar.css";
/* 应用程序顶部标题栏 */
@import "src/app/toolbarHead.css";
/* 应用程序页面标签 */
@import "src/app/tabBar.css";
/* 应用程序dock栏 */
@import "src/app/dock.css";
/* 导出预览面板 */
@import "src/app/export.css";
/* 到处的滚动条 */
@import "src/app/scrollbar";
/* 文档树和大纲 */
/* @import "src/app/filetree.css"; */
/* 文档面包屑 */
@import "src/app/breadcrumb.css";
/* 跟块有关的内容，比如块标 */
@import "src/app/block.scss";
/* 标题标签h123456 */
/* @import "src/block/title.css"; */
/* 列表样式 */
@import "src/block/list.css";
/* 代码块样式 */
/* @import "src/block/codeBlock.css"; */
/* 高亮样式 */
/* @import "src/block/mark.css"; */
/* 集市相关样式 */
/* @import "src/app/bazaar.css"; */
/* 引用锚文本样式 */
/* @import "src/block/reference.css"; */
/* 嵌入块样式 */
/* @import "src/block/embeddedBlock.css"; */
/* 主题设置面板 */
@import "src/app/SettingPanel.css";
/* 数据库样式 */
/* @import "src/block/database.css"; */
/* 列表样式 */
@import "src/block/table.scss";
/* 导出时加载的样式 */
@import "src/pdfPreview.css";

.protyle-title__input {
  font-size: 2.5em;
}

#barWorkspace:hover {
  background-color: var(--mk-toolbar-item-barWorkspace--hover);

}

#closeWindow:hover {
  color: white;
}

/* 隐藏非必要元素 */
/* 隐藏右栏左侧线 */
/* .dock#dockLeft {
    border-right: none;
} */
/* 隐藏左栏右侧线 */
/* .dock#dockRight {
    border-left: none;
} */
/* 隐藏右面板右侧线 */
/* .layout__resize--lr {
    visibility: hidden;
} */
/* 隐藏奇怪的线 */
/* #layouts > div:nth-child(1){
    visibility: hidden;
} */

/*隐藏关闭按钮*/
.b3-dialog__close {
  display: none;
}

/*隐藏关系图*/
/* .b3-tooltips__w[data-type="graph"] {
    display: none;
} */
/*隐藏全局关系图*/
/* .b3-tooltips__w[data-type="globalGraph"] {
    display: none;
} */

.layout__resize--lr::after {
  visibility: hidden;
}

.block__logo svg {
  display: none;
}

.block__logo {
  font-size: 16px;
  font-weight: bold;
  margin-right: unset;
  margin-left: 8px;
}

.protyle:not(:has(.protyle-content[data-scrolltop="0"])) .protyle-breadcrumb {
  box-shadow: 0px 5px 10px -10px grey;
}

.protyle:not(:has(.protyle-content[data-scrolltop="0"])):has(.protyle-content:not([data-scrolltop])) .protyle-breadcrumb {
  box-shadow: none;
}