/* 集市相关的主题 */
.config__tab-container.config__tab-container--top {
    .config-bazaar__panel {
        .config-bazaar__title {
            /* 设置中集市的上方筛选栏 */
            padding: 8px 16px;

            .b3-button {
                /* 集市筛选栏的按钮 */
                /* 也就是上面那个分类按钮 */
                padding: 0 8px;
            }
        }
    }

    .layout-tab-bar {
        .item.item--focus {
            /* 集市中选中的标签栏 */
            color: white;
            font-weight: 400;
            font-size: 16px;
            background-color: rgb(72, 72, 72);
            padding-top: 1px;
        }
    }
}
