@mixin fileTreeAdjust($device) {
    // 文档树文档边框
    ul.b3-list.b3-list--background {
        border-radius: 8px;
        border: 2px solid var(--mk-filetree-scrollbar-thumb--hover);

        // 文档树缩进调整，仅有电脑端生效
        @if $device == desktop {
            .b3-list-item {
                border-radius: unset;
                padding: 1px 5px;
                margin: unset;
            }
        }
    }
}

@mixin fileTreeIndent {
    ul.b3-list--background {
        // 文档树缩进，一共7级
        $base-padding: 12px;
        $indent-step: 8px;

        @for $i from 1 through 7 {
            $selector: "> ul";

            @if $i > 1 {
                @for $j from 2 through $i {
                    $selector: $selector + " > ul";
                }
            }

            #{$selector} > li.b3-list-item > span.b3-list-item__toggle,
            #{$selector} > li.b3-list-item > span.b3-list-item__toggle1 {
                /* 第#{$i}级缩进 */
                padding-left: $base-padding + ($i - 1) * $indent-step !important;
            }
        }
    }
}

@mixin fileTreeIndentLine {
    [data-type="navigation-file"] {
        > .b3-list-item__toggle.fn__hidden {
            &::before {
                content: "";
                visibility: visible;
                height: 100%;
                border-left: 2px solid color-mix(in srgb, var(--b3-theme-on-background), transparent 60%);
                margin-left: -3px;
                margin-right: 1.4px;
            }
        }
    }
}

/* 电脑端文档树 */
.sy__file {
    div.fn__flex-1 {
        overflow: auto;

        &:hover::-webkit-scrollbar-thumb {
            background: var(--mk-filetree-scrollbar-thumb);
            opacity: 1;
        }

        &::-webkit-scrollbar-track-piece {
            opacity: 0;
        }

        &::-webkit-scrollbar-track {
            background-color: rgba(0, 0, 0, 0);
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 0;
            background: rgba(0, 0, 0, 0);
            box-shadow: none;

            &:hover {
                background: var(--mk-filetree-scrollbar-thumb--hover);
            }

            &:active {
                background: var(--mk-filetree-scrollbar-thumb--active);
            }
        }
    }

    @include fileTreeAdjust(desktop);

    > .block__icons {
        border-bottom: 1px solid var(--mk-filetree-scrollbar-thumb);
    }

    > .b3-list {
        border-top: 1px solid var(--mk-filetree-scrollbar-thumb);
    }

    @include fileTreeIndent();

    @include fileTreeIndentLine();
}

/* 电脑端大纲 */
/* 大纲标题缩进，一共6级 */
.sy__outline .fn__flex-1 .b3-list {
    @for $i from 2 through 6 {
        .b3-list-item[data-subtype="h#{$i}"] > .b3-list-item__toggle {
            /* #{$i}级标题缩进 */
            padding-left: (($i - 1) * 10 + 4) + px !important;
        }
    }
}

.block__logo svg {
    display: none;
}

.block__logo {
    font-size: 16px;
    font-weight: bold;
    margin-right: unset;
    margin-left: 8px;
}

/* 移动端文档树 */
#sidebar.side-panel {
    .b3-list--mobile {
        @include fileTreeAdjust(mobile);

        @include fileTreeIndent();

        @include fileTreeIndentLine();
    }
}
