/* 代码块的语言显示 */
.protyle-action .protyle-action--first.protyle-action__language {
    .code-block:has(.protyle-linenumber__rows) & {
        /* 有行号 */
        margin-left: 4em !important;
    }

    .code-block:not(:has(.protyle-linenumber__rows)) & {
        /* 没有行号 */
        margin-left: 1em !important;
    }
}

/* 代码块左边的行号显示 */
.code-block .protyle-linenumber__rows {
    width: 2em;
}

/* 代码块滚动时语言和按钮固定在编辑器顶部 CSS片段 */
/* author by JeffreyChen https://ld246.com/article/1728146248791 */
div:not(#preview) > .protyle-wysiwyg .code-block:not(pre) {
    .protyle-action {
        position: sticky;
        top: 0;

        &::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            pointer-events: none;
        }
    }

    &:hover .protyle-action {
        background-color: var(--sy-codeblock-background);
    }

    .hljs {
        padding-top: 0;
    }
}
