/* 代码块的语言显示 */
.code-block:has(.protyle-linenumber__rows) .protyle-action .protyle-action--first.protyle-action__language {
    margin-left: 4em !important;
}

.code-block:not(:has(.protyle-linenumber__rows)) .protyle-action .protyle-action--first.protyle-action__language {
    margin-left: 1em !important;
}

/* 代码块左边的行号显示 */
.code-block .protyle-linenumber__rows {
    width: 2em;
}

/* 代码块滚动时语言和按钮固定在编辑器顶部 CSS片段 */
/* author by JeffreyChen https://ld246.com/article/1728146248791 */
.b3-typography div.hljs,
.protyle-wysiwyg div.hljs {
    padding-top: 0;
}

.protyle-wysiwyg[contenteditable] .code-block .protyle-action {
    position: sticky;
    top: 0;
}

.protyle-wysiwyg[contenteditable] .code-block:hover .protyle-action {
    background-color: var(--sy-codeblock-background);
}

/* 代码块语言的左边与代码对齐 */
/* TODO 跟进 https://github.com/siyuan-note/siyuan/pull/13564 ，如果 PR 合并的话就可以删掉这部分了 */
/* .protyle-action__language {
    position: absolute;
    left: 1em;
} */