/* 数据库添加边框 */
.av[data-av-type="table"] .av__container {
    border: var(--mk-toolbar-item) dashed 1px;
    border-radius: 10px;

    .av__header {
        .av__title:not(.fn__none) {
            /* 数据库标题添加分割线 */
            border-bottom: gray dashed 1px;
        }

        .item--focus {
            /* 数据库选中视图添加高亮 */
            background-color: var(--lite-database-header-background);
            /* opacity: 60%; */
        }
    }
}