/* 嵌入块的边框高亮 */
.protyle-wysiwyg [data-node-id].render-node[data-type="NodeBlockQueryEmbed"] {
    max-height: 70vh;
    display: flex;
    border: 1px solid white;

    .protyle-wysiwyg__embed {
        /* 嵌入块的高度限制 */
        max-height: 70vh;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        flex: 1;

        > div[data-node-index] {
            /* 去除嵌入块的横向滚动条 */
            width: calc(100% - 24px);
        }

        > [data-node-index].render-node:not([data-type="NodeParagraph"]),
        > [data-node-index][custom-block-list-view] {
            /* 嵌入块内部特殊块高度修复 */
            /* 插件自定义块样式的高度修复 */
            display: table;
            clear: both;
            min-height: 32px !important;
        }
    }
}
