/* 引用锚文本 */
/* 区分静态和动态的选择器来源：https://ld246.com/article/1756978556397/comment/1756978674642?r=EmptyLight#comments */
.protyle-wysiwyg [data-node-id] {
    span[data-type~="block-ref"]:not(.av__celltext) {
        color: var(--lite-block-ref-color);

        // 动态锚文本dynamic
        &[data-subtype="d"] {
            &::before {
                content: "⌈";
            }

            &::after {
                content: "⌋";
            }

            &:hover {
                border-bottom: dashed;
            }
        }

        // 静态锚文本static
        &[data-subtype="s"] {
            &::before {
                content: "[";
            }

            &::after {
                content: "]";
            }

            &:hover {
                border-bottom: solid;
            }
        }

        &:hover {
            background-color: var(--lite-block-ref-background-color);
            border-radius: 3px;
            border-bottom-width: 2px;
        }
    }
}
