div.table {
    /* 表格表头单元格样式 */
    &:not([custom-vsce~="no-thead"]) {
        table {
            thead {
                tr {
                    th {
                        color: var(--mk-block-header-h6);
                        text-align: center;
                    }
                }
            }
        }
    }

    /* 最小化单元格宽度 */
    &[custom-vsce~="table-min"] {
        table {
            colgroup {
                col {
                    min-width: unset !important;
                }
            }
        }
    }

    /* 隐藏表头 */
    &[custom-vsce~="hide-thead"] {
        table {
            thead {
                display: none;
            }
        }
    }
}
